@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
/*************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}
body {
  color: #182624;
  font-family: "Libre Franklin", sans-serif;
  background: rgb(155, 193, 188);
  background: -moz-linear-gradient(
    90deg,
    rgba(155, 193, 188, 1) 2%,
    rgba(230, 235, 224, 1) 80%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(155, 193, 188, 1) 2%,
    rgba(230, 235, 224, 1) 80%
  );
  background: linear-gradient(
    90deg,
    rgba(155, 193, 188, 1) 2%,
    rgba(230, 235, 224, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9bc1bc",endColorstr="#e6ebe0",GradientType=1);
}
input[type="text"] {
  border-radius: 15px;
  text-align: center;
}

h3 {
  font-size: 60px;
}

table {
  border-spacing: 0;
  background-color: #27918f;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  display: inline-block;
  overflow: auto;
  height: 450px;
  border-radius: 15px;
  box-shadow: 4px 14px 49px -8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 14px 49px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 14px 49px -8px rgba(0, 0, 0, 0.5);
}

td {
  height: 80px;
  width: 33%;
  padding: 0 100px;
  text-align: center;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #8eb8b3;
}
/*************************************************************************************************************/
.container {
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
  background-color: #dc2f18;
  border-radius: 15px;
  box-shadow: -2px 14px 24px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 14px 24px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 14px 24px 1px rgba(0, 0, 0, 0.5);
}
.title {
  font-size: 50px;
  color: #182624;
  text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}
.logo-image {
  height: 100px;
  width: auto;
  padding-left: 10px;
}
.formula-intro {
  font-size: 30px;
  width: 50%;
  background-color: #feebf4;
  color: #182624;
  letter-spacing: 2px;
  margin: auto;
  font-weight: bold;
}

.btn {
  border-radius: 15px;
  padding: 5px 10px;
}
.arrow-image {
  width: 80px;
}
.calc-btn {
  background-color: #ed6b5a;
  transition: background-color 0.2s;
  font-weight: bolder;
  text-align: center;
  text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
  font-size: 25px;
  box-shadow: 19px 20px 24px -10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 19px 20px 24px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 19px 20px 24px -10px rgba(0, 0, 0, 0.5);
}
.calc-btn:hover {
  background-color: #8eb8b3;
}
.atom-img {
  width: 50px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.containerTable {
  display: none;
}
.element-image {
  height: 100px;
  border-radius: 10px;
  width: auto;
  padding: 10px;
}
.error-tag {
  font-size: 20px;
  margin-left: 2%;
}
.label-input {
  font-size: 25px;
}

/*************************************************************************************************************/
/* Big tablets to 1200px*/
@media only screen and (max-width: 1200px) {
  .title {
    font-size: 50%;
    text-align: center;
  }
}

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .logo-image {
    height: 50px;
    padding-top: 10px;
  }
  .formula-intro {
    font-size: 40px;
    width: 80%;
  }
  .label-input {
    font-size: 150%;
    margin-left: 10%;
  }
  .intro-div {
    padding-top: 0px;
    margin-top: 10%;
  }
  .title-container {
    margin-left: 1%;
    font-size: 20px;
  }
  .calc-btn {
    margin-left: 15%;
    font-size: 25px;
    width: 50%;
  }

  .formula-sample {
    font-size: 70%;
    text-align: center;
  }

  table {
    margin-top: 10%;
    margin-left: 10%;
  }
  .element-image {
    height: 80px;
    width: auto;
  }
  h3 {
    font-size: 50px;
  }
  .title {
    font-size: 300%;
    text-align: center;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .logo-image {
    height: 50px;
    padding-top: 10px;
  }
  .formula-intro {
    font-size: 25px;
    width: 80%;
  }
  .label-input {
    font-size: 120%;
    margin-left: 15%;
  }
  .intro-div {
    padding-top: 0px;
    margin-left: 15px;
  }
  .title-container {
    margin-left: 1%;
    font-size: 20px;
  }
  .calc-btn {
    margin-left: 15%;
    font-size: 15px;
  }
  .formula-sample {
    font-size: 65%;
    margin-left: 5%;
  }

  table {
    margin-left: 10%;
  }
  .element-image {
    height: 65px;
    width: auto;
  }
  h3 {
    font-size: 45px;
  }
  .title {
    font-size: 150%;
    text-align: center;
  }
  .error-tag {
    font-size: 13px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  table {
    margin-left: 10%;
  }

  h3 {
    font-size: 45px;
  }

  .logo-image {
    height: 50px;
    padding-top: 10px;
  }
  .formula-intro {
    font-size: 25px;
    width: 80%;
  }
  .label-input {
    font-size: 100%;
    margin-left: 10%;
  }
  .intro-div {
    padding-top: 0px;
    margin-left: 15px;
  }
  .title-container {
    margin-left: 1%;
    font-size: 20px;
  }
  .calc-btn {
    margin-left: 15%;
    font-size: 15px;
  }
  .formula-sample {
    font-size: 50%;
    margin-left: 10%;
  }
  .title {
    font-size: 130%;
    text-align: center;
  }
  .element-image {
    height: 55px;
    width: auto;
  }
  .signature {
    font-size: 15px;
    text-align: center;
  }
  .error-tag {
    font-size: 65%;
  }
}
